<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('metadata', path='/menu.css') }}" rel="stylesheet">


    <script>
    
        var siteAdr = 'http://127.0.0.1:8000/tree'
    

        var list_id = [];
        list_id.push('Catalogs');
        list_id.push('Catalogs.Goods');
        list_id.push('Catalogs.Goods.Attributes');
        list_id.push('Catalogs.Goods.Attributes.color');
        list_id.push('Catalogs.Goods.Attributes.secondname');
        list_id.push('Catalogs.Goods.Attributes.pol');
        list_id.push('Catalogs.Goods.Attributes.height');
        list_id.push('Documents');
       
        let dd = []            
        
function add_answer() {
            //var q_ans = document.getElementsByClassName("q");
            var question_container = document.getElementById("my_form");
          
            var input_ans = document.createElement("input");
            input_ans.setAttribute("type", "text");
            input_ans.setAttribute("class", "answer_input");
            input_ans.innerHTML = 'fff';

            question_container.appendChild(input_ans);

        }

function updateForm(newStr){
    //let el = document.getElementById('myform')
    //el.innerHTML = newStr

    let newDog = document.createElement('div')
    newDog.innerHTML = 'dfddfdfdf'
    
   let  span = document.createElement("span");
  span.innerHTML = "Add question";

  newDog.appendChild(span);
    
    const h2 = document.createElement('h2');
    h2.textContent = 'My name is Roviel and i love playing and eating.';



    newDog.style.display ='block';
    newDog.appendChild(h2);
}        
        
function takeDateFromSite(adr) {
    const xhr = new XMLHttpRequest();

    let dd = {};

    //xhr.open("GET", "http://127.0.0.1:8000");
    xhr.open("GET", adr);
    xhr.headers = {"Accept": "application/json"}
    xhr.send();
    xhr.responseType = "json";
    xhr.onload = () => {
      if (xhr.readyState == 4 && xhr.status == 200) {
        //console.log(xhr.response);

         dd = xhr.response // JSON.parse(xhr.response);

        for (d of dd['Catalogs']) {
            console.log(d);
         
        }

      } else {
        console.log(`Error: ${xhr.status}`);
      }
    };

    return dd;


}

function SelectCursor(myId){

            takeDateFromSite(siteAdr) ;
            
            add_answer();

            document.getElementById("ss").innerHTML = myId;
            dd = document.getElementById(myId);
            
            if (dd.getAttribute('opened') === 'false') {
                dd.setAttribute('opened', "true");
                
                for (itemId of list_id) {
                    if (itemId.search(myId) === 0)
                    {
                        dd = document.getElementById(itemId);
                        dd.style.display = 'flex';
                        
                    }
                    
                }

            }
            else{
                dd.setAttribute('opened', "false");

                for (itemId of list_id) {
                    if (itemId.search(myId) === 0)
                    {
                        dd = document.getElementById(itemId);
                        dd.style.display = 'none';
                        
                    }
                    
                }   

            }    
           
        }
        
        function SelectItem(myId){
            
            document.getElementById("ss").innerHTML = "" + myId + "{{ url_for('metadata', path='/menu.css') }}";
            updateForm('<div>Hello word</div>') 

            dd = document.getElementById(myId);
            let ss = 4;
            
            if (dd.getAttribute('selected') === 'false') {
                dd.setAttribute('selected', 'true');
                }
            clearSelection(myId);    
        }
      
        function clearSelection(ExeptId){

            for (let myId of list_id) {
                if (myId === ExeptId) {

                }
                else {
                    var myElement = document.getElementById(myId);
                    if ((myElement != null) && (myElement.getAttribute('selected')==='true')){
                        myElement.setAttribute('selected','false');
                    }
                }
                
            }
        }
    
    </script>
    
</head>



<body>
    <img src="/metadata/catalog.png" alt="">

<div class="myform" id="my_form">
ff
</div>


    <div type="none" class="Tree">ROOT

        <div class="tree-item"> 
            <div class="tree-level-padding-1"></div>
            <div id='Catalogs.' class="tree-cursor" opened="true" onclick="SelectCursor(id)"></div>
            <div class="tree-catalog-icon"></div>
            <div id='Catalogs' class="tree-item" selected="true" onclick="SelectItem(id)">Catalogs</div>

        </div>

        <div class="tree-item">
                <div class="tree-level-padding-2"></div>
                <div id='Catalogs.Goods.' class="tree-cursor" opened="true" onclick="SelectCursor(id)"></div>
                <div class="tree-catalog-icon"></div>
                <div id='Catalogs.Goods' class="tree-item" selected="false" onclick="SelectItem(id)">Goods</div>
        </div>    
    
        <div class="tree-item"">
            <div class="tree-level-padding-3"></div>
            <div id='Catalogs.Goods.Attributes.' class="tree-cursor" opened="true" onclick="SelectCursor(id)"></div>
            <div class="tree-attributes-icon"></div>
            <div id='Catalogs.Goods.Attributes' class="tree-item" selected="false" onclick="SelectItem(id)">Attributes</div>
        </div>    

        <div class="tree-item"> 
            <div class="tree-level-padding-5"></div>
            <div id='Catalogs.Goods.Attributes.' class="tree-cursor"></div>
            <div class="tree-attributes-icon"></div>
            <div id='Catalogs.Goods.Attributes.color' class="tree-item" selected="false" onclick="SelectItem(id)">color</div>
        </div> 
        
        <div class="tree-item"> 
            <div class="tree-level-padding-5"></div>
            <div id='Catalogs.Goods.Attributes.' class="tree-cursor"></div>
            <div class="tree-attributes-icon"></div>
            <div id='Catalogs.Goods.Attributes.secondname' class="tree-item" selected="false" onclick="SelectItem(id)">secondname</div>
        </div> 
        
        <div class="tree-item"> 
            <div class="tree-level-padding-5"></div>
            <div id='Catalogs.Goods.Attributes.' class="tree-cursor"></div>
            <div class="tree-attributes-icon"></div>
            <div id='Catalogs.Goods.Attributes.pol' class="tree-item" selected="false" onclick="SelectItem(id)">pol</div>
        </div> 
        
        <div class="tree-item"> 
            <div class="tree-level-padding-5"></div>
            <div id='Catalogs.Goods.Attributes.' class="tree-cursor"></div>
            <div class="tree-attributes-icon"></div>
            <div id='Catalogs.Goods.Attributes.height' class="tree-item" selected="false" onclick="SelectItem(id)">height</div>
        </div> 
        
        <div class="tree-item"> 
            <div class="tree-level-padding-3"></div>
            <div id='Catalogs.Goods.TabularSections.' class="tree-cursor" opened="true"></div>
            <div class="tree-tabularsection-icon"></div>
            <div id='Catalogs.Goods.TabularSections' class="tree-item" selected="false" onclick="SelectItem(id)">Tabular sections</div>
        </div> 
        
        
        <div id="Catalogs.Pricees"  class="catalog-item" selected="true" opened="true" onclick="SelectItem(this.id)">Pricees</div> 
        <div id="Catalogs.AdditionalProperty" class="catalog-item" selected="true" opened="true" onclick="SelectItem(this.id)">AdditionalProperty</div> 
        
        <div  class="form-item" selected="true" opened="true">
            Forms
        </div>
        <div>MainForm</div> 
        
        <div  class="comand-item" selected="true" opened="true">
            Commands
        </div>    
      
        <div class="template-item" selected="true" opened="true">
            Templates
        </div>    
        <div> WarehousesOrder</div>
      
        
        <div  class="form-item" selected="false" opened="true">Currency</div>
        <div  class="form-item" selected="false" opened="true">Customers</div>
        
        <div id="Documents" class="document-item" selected="false" opened="true"  onclick="SelectItem(id)"> 
            <a">Documents</a>
        </div>
        <div class="document-item" selected="false"  opened="true"> 
            <a">Chek</a>
        </div> 
        

        <div class="informationregister-item" selected="false" opened="true"> 
           <a">Information registers</a>
       </div>
       <div class="informationregister-item" selected="false"  opened="true"> 
           <a">UsersDocuments2</a>
       </div>
       



    </div>

    <fieldset>
        <legend>Total</legend>
         <p><label>Customer name: <input id="ss2"></label></p>
         <span id="ss">5</span>
    </fieldset>


</body>
</html>